/*
Copyright (C) 2017 ca

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Created on : Sep 2, 2017, 2:26:38 PM
    Author     : ca
*/

html, body {
    width: 99%;
    height: 96%;
    background: #a6d1f7;
    font-family: sans-serif;
}

h1, h2, form {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

input[type='checkbox'] {
    display: none;
}

input[type='submit'] {
    font-size: 1rem;
    cursor: pointer;
}

form {
    width: 50%;
    height: 50;
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: space-around;
}

#survey {
    margin-top: 10%;
}

#survey label {
    width: 14rem;
    height: 14rem;
    cursor: pointer;
    font-size: 4em;
    border-radius: 999px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    margin-right: 10px;
padding: 10px 20px;
    transition: .8s all;
}

label:hover {
    transform: scale(1.1);
}

#survey label .fa {
    margin-bottom: .2em;
}

table {
    width: 60%;
    margin: 1rem auto;
    border-collapse: collapse;
    text-align: center;
    cursor: default;
}

th, td, tr, caption {
    padding: 10px;
    border: 1px solid #000000;
}

thead {
    cursor: pointer;
}

caption {
    border-bottom: none;
    font-size: 1.4em;
}

td:hover {
    background: #ccc;
} 

#satisfactionlvl0 {
    background: red;
}

#satisfactionlvl1 {
    background: green;
}

.ct-chart {
    height: 15rem;
    color: #FFF;
}

.pie-dislike {
    fill: #d82d2d;
}

.pie-like {
    fill: #28b353;
}

.ct-chart .ct-label {
    fill: #FFFFFF;
    color: #FFFFFF;
    font-size: 1rem;
}
